    <%= render 'layouts/header' %>

    <div class="container">
    	<br /><br />
    	<h1>Edit Article</h1>


		<%= render 'form' %>


		<br /><br />


		<%= link_to 'Cancel & Go Back', articles_path, :class => 'btn btn-info'  %>

		<br /><br />
	</div>

    <%= render 'layouts/footer' %>
 